.caja-container {
  padding: 20px;
}

.caja-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.saldo {
  font-size: 20px;
  font-weight: bold;
}

.saldo-positivo {
  color: #2ecc71;
}

.saldo-negativo {
  color: #e74c3c;
}
