.mytable tbody tr.row-no-entregado {
  background: #faa3aa !important; 
}

.mytable tbody tr.row-entregado {
  background:  #FFFFFF !important; 
}

.actionGrid {
  display: flex;
  justify-content: flex-end; 
  gap: 6px;                  
  align-items: center;
  flex-wrap: nowrap;
}


input[type="date"],
input[type="time"] {
  width: 170px;
  padding: 6px;
  font-size: 14px;
}


